extends layout

block content

  .section
    include navbar.pug
  .section
    h1 Current Inventory

    form(method='GET', action='/search')
      input(type='text' placeholder='Apparel...')

  .section
    ul
      for result in results
        li
          .inventory-item
            img(class="inventory-pic" src=`./images/inventorypic/${result.img}`)
            p #{result.name}
            form(method='GET', action=`/apparel/details`)
              input(type='submit' value='details')
          .inventory-details-modal
            h1 #{result.name}
            p #{result.description}
            p #{result.quantity} currently available
            p.close X
